.container_about{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
    }

.container_conteudo_about{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}
@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }


    .nav_bar {
        justify-content: center;
    }

    .container {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .container_conteudo {
        width: 100%;
    }
}